#projects {
    background-color: transparent;
}

.projects-container {
    min-height: 100vh; /* Altura mínima del 100% del viewport */
    height: fit-content; /* Se ajusta al contenido si es mayor que min-height */
    padding: 50px;
    text-align: center;
    background-color: #f5f7fa;
}

.projects-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.project-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.project-link {
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: block; /* Hace que el enlace envuelva todo el contenido */
    color: black;
}

.project-link:hover {
    color: rgb(138, 0, 0);
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    overflow: visible; /* Permite que la tarjeta crezca sin recortarse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Suaviza la animación */
}

.project-card-wrapper:hover {
    transform: scale(1.2);
}

.project-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

/* Cuando el usuario pase el mouse sobre la tarjeta, la imagen recupera su color */
.project-card:hover .project-image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


.project-image-container {
    width: 100%;
    text-align: center;
}

.project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: left;
    border-radius: 0 0 12px 12px;
}

.project-overlay h2 {
    margin: 0;
    font-size: 1.5rem;
}

.project-text {
    margin-top: 15px;
    text-align: center;
}

.project-text h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.project-text p {
    font-size: 0.9rem;
    color: #666;
}

@media (max-width: 768px) {
    .project-card-wrapper:hover {
        transform: none !important;
    }

    .project-image {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
