@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 0%;
  text-align: center;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden; /* Evita desplazamientos no deseados */
}

.splash-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Asegura que el video cubra el área sin recortar texto */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

#boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  transition: transform 0.3s ease; /* Transición para la animación */
}

#boton-flotante a {
  display: block;
  width: 200px; /* Tamaño del botón expandido */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* Otros estilos para tu botón */
}

/* Estilos para la posición inicial (retraído) */
#boton-flotante.retraido {
  transform: translateX(66%); /* Oculta el botón a la derecha */
}

/* Estilos para el efecto hover */
#boton-flotante:hover {
  transform: translateX(0); /* Muestra el botón completo */
}

@media (max-width: 700px) {
  .splash-video {
    object-fit: contain; /* Mantiene todo el contenido visible */
  }
}